.contenedor_carrito {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    margin-top: 10px;
  
    .btn_contenedor_carrito {
      position: absolute;
      margin-top: 10px;
      margin-right: 40px;
      cursor: pointer;
      z-index: 2;
  
      svg {
        height: 25px;
        margin-right: 2px;
      }
  
      .btn_carrito {
        background:linear-gradient(180deg, rgb(54, 0, 71) 0%, rgba(24,0,71,1) 80%);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;
      }
      .numero_productos {
        height: 20px;
        width: 20px;
        border-radius: 999px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(239, 211, 0);
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

    .carrito {
      position: absolute;
      margin-right: 20px;
      border-radius: 30px;
      width: 400px;
      background: linear-gradient(180deg, rgba(43,0,56,1) 20%, rgba(24,0,71,1) 100%);
      color: white;
  
      h2 {
        text-align: center;
        font-weight: bold;
        margin-top: 35px;
      }
  
      .carritoVacio {
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
      }
  
      .total {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        padding-bottom: 15px;
      }

      .irCarrito{
        color: rgba(17, 6, 28);
        font-weight: bold;
        margin-left: 150px;
        background-color: rgb(131, 249, 255) !important;
        margin-bottom: 15px;
      }

      .contenedorProductos{
        max-height: 200px;
        overflow-y: scroll;
        margin-top: 5px;
      }
}}

