.contenedor_carrito {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
  
    .btn_contenedor_carrito {
      position: absolute;
      margin-top: 10px;
      margin-right: 20px;
      cursor: pointer;
      z-index: 2;
  
      svg {
        height: 25px;
        margin-right: 2px;
      }
  
      .btn_carrito {
        background-color: #222222;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;
      }
      .numero_productos {
        height: 20px;
        width: 20px;
        border-radius: 999px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fb3939;
        font-size: 12px;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
}