.contenedor_productos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-row-gap: 20px;
    grid-column-gap: 75px;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
    

    .productos{

        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: white;


        img{
            width: 200px;
            height: 150px;
        }
        

        p{
            text-align: center;
            font-weight: bold;
        }

        button{
            border: 3px solid white;
            border-radius: 5px;
            padding: 5px , 10px;
            cursor: pointer;
            background: rgb(131, 249, 255) ;
        }

        button:hover{
            border: 3px solid black;
            background: rgb(43, 239, 250);
            
        }

    }
}