.nav-text {
    text-decoration: none !important;
    color: rgb(239, 211, 0) !important;
    letter-spacing: 3px !important;
}

.offcanvas{
    background-color: rgb(32, 0, 49) !important;
}

.nav-title {
    text-align: center !important;
    justify-content: center !important;
    text-decoration: none !important;
    color: rgb(239, 211, 0) !important;
    letter-spacing: 3px !important;
}
.offcanvas-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
}
