.glow .glow-orange{
  transition: .8s ease;
}

.glow-orange:hover{
    -webkit-box-shadow: 0px 0px 50px 0px #E7E727;
    -moz-box-shadow: 0px 0px 50x 0px #E7E727;
    box-shadow: 0px 0px 50px 0px #E7E727;
    transition: .8s ease;
    border-radius: 50px !important;
}

.glow:hover{
  -webkit-box-shadow: 0px 0px 50px 0px rgb(0, 238, 255);
  -moz-box-shadow: 0px 0px 50x 0px rgb(0, 238, 255);
  box-shadow: 0px 0px 50px 0px rgb(0, 238, 255);
  transition: .8s ease;
  border-radius: 50px !important;
}