.App {
  text-align: center;
  cursor: default;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: rgba(23,2,33,255);
}

::-webkit-scrollbar-thumb 
{
  background-image: linear-gradient(rgb(131, 249, 255),rgba(191,4,229,255)) ;
  border-radius: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-app{
  margin-top: 4rem;
}

