// @import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

$theme-colors: (
    "yellow": rgb(239, 211, 0),
    "cyan": rgb(131, 249, 255),
    "dark-purple": rgba(17, 6, 28),
);

body {
    font-family: 'Roboto' !important;
    background-color: rgba(23,2,33,255);
  }

@import "~bootstrap/scss/bootstrap";

